body {
  padding: 0;
  margin: 0;
}

.App {

  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 50px;
  
}

.container {


  width: 90%;


  background-color: #eaeaea;
  display: flex;
  padding: 30px;

  
}